<%- include('./includes/head') %>
<%- include('./includes/nav') %>

<div class="container w-50 mx-auto mt-5">
    <h1 class="text-center">Olá <%= user.email %></h1>
    <p class="text-center fs-2 fw-light">Você ja está logado(a)</p>
</div>

<%- include('./includes/footer') %>